#!/usr/bin/make -f

# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export HOME = $(CURDIR)/debian/home

$(CURDIR)/debian/home:
	mkdir -p $(CURDIR)/debian/home

%: $(CURDIR)/debian/home
	dh $@

override_dh_auto_clean:

execute_after_dh_auto_build:
	npm install
	npm run build

override_dh_auto_test:

execute_after_dh_fixperms:
	chmod 755 $(CURDIR)/debian/gemini-cli/usr/lib/gemini-cli/gemini.js
